
@{
    ViewData["Title"] = "Index";
}

<h1>Aurell Webb Design</h1>
<p>Name: Mikael Aurell<br />
    Location: Kalmar <br />
    Work: Junior Systemdeveloper Asp.net core</p>
<p>Keywords: MVC, React, Razor, Blazer, CSS</p>
<p></p>
