@model Person
    @*<table>
        
        <tr>
            <td>Name:</td>
            <td> &nbsp;&nbsp;</td>
            <td>Country:</td>
            <td>&nbsp;&nbsp;</td>
            <td> </td>
        </tr>

        @foreach (Person aPerson in Model)
        {*@
    <table>
        <tr @("personId" + Model.Id)>
            <td>
                @Model.Name&nbsp;&nbsp;&nbsp;
            </td>
            <td> &nbsp;&nbsp;</td>
            <td>
                @Model.Country
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
                <a asp-controller="Persons" asp-action="Remove" asp-route-id="@Model.Id">Remove</a>
                <a data-target="renamePerson" onclick="getPartialLink(event)" asp-controller="Persons" asp-action="PersonRenamePartial">Rename</a>
            </td>
        </tr>
    </table>
        @*}

    </table>*@
