@model IEnumerable<MVC_Assignment.Models.Person>

@foreach (Person aPerson in Model)
{
    <tr @("personId" + aPerson.Id)>
        <td>
            @aPerson.Name
        </td>
        <td> &nbsp;&nbsp;</td>
        <td>
            @aPerson.Country
        </td>
        <td></td>
        <td>
            <a asp-controller="Persons" asp-action="Remove" asp-route-id="@aPerson.Id">Remove</a>
            <a onclick="getPartialLink(event)" asp-controller="Persons" asp-action="PersonRenamePartial">Rename</a>
        </td>
    </tr>
}
