<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" initial-scale="1.0" />
    <title>@ViewBag.Title</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <img src="~/img/logga.png" />
    <nav>
        <ul>
            <li>
                <a asp-action="Index" asp-controller="Home">Index</a>
            </li>

            <li>
                <a asp-action="Contact" asp-controller="Home">Contact</a>
            </li>

            <li>
                <a asp-action="Projects" asp-controller="Home">Projects</a>
            </li>

            <li>
                <a asp-action="Index" asp-controller="CheckFevers">Check Fever</a>
            </li>

            <li>
                <a asp-action="Index" asp-controller="GuessNumbers">Guessing Game</a>
            </li>

            <li>
                <a asp-action="Index" asp-controller="Persons">Persons</a>
            </li>



            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Persons" asp-action="PersonList">Person List</a>
            </li>
        </ul>
    </nav>

    <div id="renderbody">
        @RenderBody()
    </div>

    <footer>
        <p>Mikael Aurell &copy; @DateTime.Now.Year</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
