@model PersonService
@{
    ViewData["Title"] = "Filter";
}

<h1>Filter Persons</h1>

<form method="post" onsubmit="postLink(event)" asp-controller="Persons" asp-action="PersonFilterPartial">

    <label asp-for="filterInput"></label>
    <input asp-for="filterInput" /><span asp-validation-for="filterInput"></span>

    <input type="submit" value="Search for Name or Country" />

</form>