@model PersonViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create";
}

<h1>Create Person</h1>

<form onsubmit="postLink(event)" method="post" data-target="addToList" asp-controller="Persons" asp-action="PersonCreatePartial">

    <label asp-for="Name"></label>
    <input asp-for="Name" /><span asp-validation-for="Name"></span>
    <br />
    <label asp-for="Country"></label>
    <input asp-for="Country" /><span asp-validation-for="Country"></span>
    <br />

    <input type="submit" value="Add Person" />

</form>