@model IEnumerable<MVC_Assignment.Models.Person>
@{
    ViewData["Title"] = "Person Index";
}

<h1>Index</h1>

<p>@ViewBag.msg</p>

<a asp-action="Create">Create Person</a>
<a asp-action="Filter">Filter Person</a>
<table>
    @foreach (Person aPerson in Model)
    {
        <tr>
            <td>
                Name: @aPerson.Name
                Country: @aPerson.Country

                <a asp-controller="Persons" asp-action="Remove" asp-route-id="@aPerson.Id">Remove Person</a>
            </td>
        </tr>
    }
</table>
