@model List<Person>
@{
    ViewData["Title"] = "Person Index";
}

<h1>Index</h1>

<p>@ViewBag.msg</p>

<a asp-action="Create">Create Person</a>
    <table>
        @foreach (Person aPerson in Model)
        {
            <tr>
                <td>
                    Name: @aPerson.Name
                    Country: @aPerson.Country

                    <a asp-controller="Persons" asp-action="Remove" asp-route-id="@aPerson.Id">Remove Person</a> 
                </td>
            </tr>
        }
    </table> 
